<%- include("partials/head") %>

<%- include("partials/header") %>

<link rel="stylesheet" href="/css/detalle.css">

<form method="POST" action="/productos" enctype="multipart/form-data">

  <h2 class="container" style="padding-top: 10px;">Nuevo Producto</h2>

  <div id="main" class="container contenedor" style="background-color: #fff;">

    <div class="div-izquierda" style="height: 500px;">

      <div>

        <input type="file" id="img" name="img">
        <label>Selecciona una imagen</label>

      </div>

    </div>

    <section>

      <div class="form-name">

        <input class="form" type="text" id="name" placeholder="Nombre" name="name" >

      </div>

      <div class="form-category-brand">

        <select class="form" name="category">

          <option value="">--Seleccione Categoría--</option>
          <% for(let category of Category) {%> 
            <option value="<%= category.id %>"><%= category.name %> </option>
          <% } %> 

        </select>

        <select class="form" name="brand">

          <option value="">--Seleccione Marca--</option>
          <% for(let brand of Brand) {%> 
            <option value="<%= brand.id %>"><%= brand.name %> </option>
          <% } %> 

        </select>

      </div>

      <ul type=" none" class="subtitulo">

        <li><input class="form-price form" type="number" id="price" placeholder="Precio" name="price"></li>

        <li><input class="form-price form" type="text" id="stock" placeholder="Stock" name="stock"></li>

        <li><mark> Envio con normalidad</mark></li>

        <li id="nuevo">Nuevo</li>

        <li class="envio"><i class="far fa-credit-card" style="padding-right: 5px;"></i>Paga hasta 12 cuotas</li>

        <li>

          <img src="/images/imagenesMediosDePago/visa.png" alt="">
          <img src="/images/imagenesMediosDePago/amex.png" alt="">
          <img src="/images/imagenesMediosDePago/master.png" alt="">
          <img src="/images/imagenesMediosDePago/efectivo.png" alt="">

        </li>

        <li class="envio"> Envío gratis a todo el país</li>

        <li><i class="fas fa-truck"></i></li>

        <li id="buton">

          <a href=""><button class="butontwo">Agregar al carrito</button></a>

        </li>

      </ul>

    </section>

    <div>

      <h3 class="tituloDes">Detalles del producto</h3>

      <div style="display: flex;">

        <textarea class="form-especification form" type="text" id="especification" placeholder="Especificación"
          name="especification"></textarea>

      </div>

      <button type="submit" class="btn btn-primary">Guardar</button>

    </div>

  </div>
  
</form>

<%- include("partials/footer") %>