<%- include("partials/head") %>

<%- include("partials/header") %>

<link rel="stylesheet" href="/css/detalle.css">

<div class="container section">
    <section>
        <a href="/">Home</a>
        <i class="fas fa-angle-right" style="padding-right: 5px;"></i>
        <a href="/productos">Productos</a>
        <i class="fas fa-angle-right" style="padding-right: 5px;"></i>
        <%= productosMostrar[0].name %>
    </section>
</div>
<form method="POST" action="/productos/<%= productosMostrar[0].id%>?_method=PUT" enctype="multipart/form-data">
    <div id="main" class="container contenedor" style="background-color: #fff;">
        <div class="div-izquierda">
            <div class="cont-img">
                <img class="img" src="<%= productosMostrar[0].img %>"alt="">
            </div>
            <div>
                <input type="file" id="img" name="img">
                <label>Selecciona una imagen</label>
            </div>
        </div>
        <section>
            <article class="titulo"><%= productosMostrar[0].name %></article>
            <div class="form-name">
                <label for="name">Nombre</label>
                <input type="text" id="name" placeholder="Nombre" name="name" value="<%= productosMostrar[0].name %>">
            </div>
            <ul type="none" class="subtitulo">
                <li class="costo">$<%= productosMostrar[0].price %></li>
                <li>
                    <div>
                        <label for="price">Precio</label>
                        <input class="form-price" type="text" id="price" placeholder="Precio" name="price" value="<%= productosMostrar[0].price %>">
                    </div>
                </li>
                <li><mark> Envio con normalidad</mark></li>
                <li id="nuevo">Nuevo</li>
                <li class="envio"><i class="far fa-credit-card" style="padding-right: 5px;"></i>Paga hasta 12 cuotas</li>
                <li>
                    <img src="/images/imagenesMediosDePago/visa.png" alt="">
                    <img src="/images/imagenesMediosDePago/amex.png" alt="">
                    <img src="/images/imagenesMediosDePago/master.png" alt="">
                    <img src="/images/imagenesMediosDePago/efectivo.png" alt="">
                </li>
                <li class="envio"> Envío gratis a todo el país</li>
                <li><i class="fas fa-truck"></i></li>
                <li id="buton">
                    <a href=""><button class="butontwo">Agregar al carrito</button></a>
                </li>

            </ul>
        </section>
        <div>
            <h3 class="tituloDes">Detalles del producto</h3>
            <p><%= productosMostrar[0].especification%></p>
            <div style="display: flex;">
                <label style="align-items: center;" for="especification">Especificación</label>
                <textarea class="form-especification" type="text" id="especification" placeholder="Especificación" name="especification" value="<%= productosMostrar[0].especification %>"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
        
    </div>
    
</form>
<div class="otrosProductos">
    <section class="contenedorProduct">
        <img class="cph" src="./images/sale.webp" alt="">
        <a class="ancla" href="#">
            <img src="/images/imagenesProductos/gabinete/fullTower/AZZA GABINETE STORM 6000B BLACK GLASS RGB LED FULL TOWER.webp"
                alt="hdd">
            <article class="descripcion"> GABINETE STORM 6000B BLACK GLASS RGB LED FULL TOWER
            </article>
        </a>
    </section>
    <section class="contenedorProduct">
        <img class="cph" src="./images/sale.webp" alt="">
        <a class="ancla" href="#">
            <img src="/images/imagenesProductos/motherboards/amd/ASUS MOTHER ROF CROSSHAIR VII HERO WIFI - X470.webp"
                alt="">
            <article class="descripcion">ASUS MOTHER ROF CROSSHAIR VII HERO WIFI</article>
        </a>
    </section>
    <section class="contenedorProduct">
        <img class="cph" src="./images/sale.webp" alt="">
        <a class="ancla" href="#">
            <img src="/images/imagenesProductos/motherboards/intel/ASROCK MOTHER H310CM-HDV-H310.webp" alt="">
            <article class="descripcion">intel/ASROCK MOTHER H310CM-HDV-H310</article>
        </a>
    </section>
    <section class="contenedorProduct">
        <img class="cph" src="./images/sale.webp" alt="">
        <a class="ancla" href="">
            <img src="/images/imagenesProductos/placaDeVideo/nvidia/ASUS NVIDIA GTX 1650 SUPER PHOENIX OC O4G 4GB DDR6.webp"
                alt="">
            <article class="descripcion">ASUS NVIDIA GTX 1650 SUPER PHOENIX OC O4G 4GB DDR6
            </article>
        </a>

    </section>
    <section class="contenedorProduct">
        <img class="cph" src="./images/sale.webp" alt="">
        <a class="ancla" href="#">
            <img src="/images/imagenesProductos/placaDeVideo/radeon/ASUS RADEON RX 5500 XT 8GB DDR6 DUAL OC EVO PCIE 4.0.webp"
                alt="">
            <article class="descripcion">ASUS RADEON RX 5500 XT 8GB DDR6 DUAL OC EVO PCIE 4.0
            </article>
        </a>

    </section>
    <section class="contenedorProduct">
        <img class="cph" src="./images/sale.webp" alt="">
        <a class="ancla" href="#">
            <img src="/images/imagenesProductos/auricularesParlantesYAudio/microfonos/KINGSTON MICROFONO HYPERX QUADCAST.webp"
                alt="">
            <article class="descripcion">KINGSTON MICROFONO HYPERX QUADCAST
            </article>
        </a>

    </section>
</div>

</div>


<%- include("partials/footer") %>