<%- include("partials/head") %>

<%- include("partials/header") %>

<link rel="stylesheet" href="/css/productosTemporal.css">

<div class="containter-fluid">

    <h3>Procesadores</h3>

    <div class="lista-prod">

        <div class="producto">

            <a href="#">
                <div class="lista">
                    <img src="<%= productos[0].img %>"" alt="">
                </div>

                <div class="producto-prec">
                    <div class="name"><%= productos[0].name%></div>
                    <div class="precio">$<%= productos[0].price%></div>
                </div>
            </a>

            <div class="botonesEdicion">
                <div>
                    <a href=""><button class="edit"><i class="fas fa-file-signature"></i></button></a>
                    <p class="edit-p">Editar</p>
                </div>
                <div>
                    <a href=""><button class="delete"><i class="fas fa-file-excel"></i></button></a>
                     <p class="delete-p">Borrar</p>
                </div>
            </div>

        </div>

        <div class="producto">

            <a href="#">
                <div class="lista">
                    <img src="<%= productos[1].img %>"" alt="">
                </div>

                <div class="producto-prec">
                    <div class="name"><%= productos[1].name%></div>
                    <div class="precio">$<%= productos[1].price%>0</div>
                </div>
            </a>
            
            <div class="botonesEdicion">
                <div>
                    <a href=""><button class="edit"><i class="fas fa-file-signature"></i></button></a>
                    <p class="edit-p">Editar</p>
                </div>
                <div>
                    <a href=""><button class="delete"><i class="fas fa-file-excel"></i></button></a>
                     <p class="delete-p">Borrar</p>
                </div>
            </div>

        </div>

        <div class="producto">

            <a href="#">
                <div class="lista">
                    <img src="<%= productos[2].img %>"" alt="">
                </div>

                <div class="producto-prec">
                    <div class="name"><%= productos[2].name%></div>
                    <div class="precio">$<%= productos[2].price%></div>
                </div>
            </a>
            
            <div class="botonesEdicion">
                <div>
                    <a href=""><button class="edit"><i class="fas fa-file-signature"></i></button></a>
                    <p class="edit-p">Editar</p>
                </div>
                <div>
                    <a href=""><button class="delete"><i class="fas fa-file-excel"></i></button></a>
                     <p class="delete-p">Borrar</p>
                </div>
            </div>

        </div>

        <div class="producto">

            <a href="#">
                <div class="lista">
                    <img src="<%= productos[3].img %>"" alt="">
                </div>

                <div class="producto-prec">
                    <div class="name"><%= productos[3].name%></div>
                    <div class="precio">$<%= productos[3].price%></div>
                </div>
            </a>
            
            <div class="botonesEdicion">
                <div>
                    <a href=""><button class="edit"><i class="fas fa-file-signature"></i></button></a>
                    <p class="edit-p">Editar</p>
                </div>
                <div>
                    <a href=""><button class="delete"><i class="fas fa-file-excel"></i></button></a>
                     <p class="delete-p">Borrar</p>
                </div>
            </div>

        </div>

    </div>

</div>

<%- include("partials/footer") %>