<%- include("../partials/head") %>

<%- include("../partials/header") %>

<link rel="stylesheet" href="/css/login.css">

<script src="/front-js/loginFront.js"></script>

<div class="contenedor">

  <div class="titulo">

    <h4>Ingresar</h4>

  </div>

  <form  class="login form-login" method="POST" action="/users/login">

    <input class="input"  type="email" name="email" placeholder="Tu email" id="email" />
    <% if (typeof errors != 'undefined') { %>
      <div id="error-email" class="errors" > <%= errors.email ? errors.email.msg : '' %> </div>
    <% } %> 
   
    <input class="input " type="password" name="password" value placeholder="Tu Contraseña" id="password" />
    <% if (typeof errors != 'undefined') { %>
      <div id="error-password" class="errors"><%= errors.password ? errors.password.msg : '' %> </div>
    <% } %> 
    <div style="display: flex">
    <input type="checkbox" class="recordar" name="recordame"> 
    <label for="recordame">No cerrar sesion</label>
    </div>

    <div> <a class="recuperar-contraseña" href="#"> Restaurar contraseña</a></div>

    <button class="btn" type="submit" name="btn"> Ingresar</button>

    <div class="regis">¿Aún no tenés cuenta? <a class="" href="/users/registro"> Registrate </a> </div>

  </form>
  
</div>

<%- include("../partials/footer") %>

