<%- include("../partials/head") %>

<%- include("../partials/header") %>

<link rel="stylesheet" href="/css/profile.css">

<div class="container-fluid">

    <h1 class="title-profile">Perfil de <%= user.name %></h1>

    <div class="portada">

        <div class="img-profile">

            <img id="img-profile" src="<%= user.img %> " alt="">

        </div>

        <div class="logo-profile">
    
            <img src="/images/logo.webp" alt="">
    
        </div>

    </div>

    <ul type="none" class="datos-usuario">

        <li>Nombre: <%= user.name %></li>
        <li>Email: <%= user.email %></li>
        <li>Contraseña: ********</li>

    </ul>

    <a href="profile/edit"><button style="margin-left: 50px;"   class="btn btn-primary">Editar</button></a>


</div>

<%- include("../partials/footer") %>